CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-v3s-business-card"
CONFIG_SPL=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=360
# CONFIG_HAS_ARMV7_SECURE_BASE is not set
CONFIG_NO_NET=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_SUNXI_SPI=y
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_SPL_MTD=y
CONFIG_SPL_SPI_SUNXI=y
CONFIG_MTD_SPI_NAND=y
CONFIG_CMD_SF=y
CONFIG_CMD_MTD=y
CONFIG_CMD_NAND=y
CONFIG_CMD_UBI=y
CONFIG_CMD_UBIFS=y
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_UBIFS_FS=y
CONFIG_UBIFS_SILENCE_MSG=y
CONFIG_SPI_FLASH_MACRONIX=y
